aiohttp==3.14.0
beautifulsoup4==4.14.3
duckdb==1.5.3
loguru==0.7.3
lxml==6.1.1
numpy==2.4.6
optuna==4.9.0
pandas==3.0.3
pandas-ta
python-dotenv==1.2.2
pytrends==4.9.2
requests==2.34.2
schedule==1.2.2
ta==0.11.0
vaderSentiment==3.3.2
websocket-client==1.9.0
websockets==16.0
pytest==9.0.3
pytest-asyncio==1.4.0
